<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Umfragen Übersicht</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/alleUmfragen.js"></script>
</head>
<body>
    <div id="nav"></div>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-hover row-select">
                <tr>
                    <th>Titel</th>
                    <th>Ersteller</th>
                    <th>Erstellungsdatum</th>
                    <th>Startdatum</th>
                    <th>Endedatum</th>
                </tr>
                <tr th:each="umfrage : ${umfragen}" style="cursor: pointer" th:onclick="'javascript:umfrageAuswahl(\'' + ${umfrage.titel} + '\');'">
                    <td th:text="${umfrage.titel}">Testumfrage</td>
                    <td th:text="${umfrage.email}">Test@test.de</td>
                    <td th:text="${#dates.format(umfrage.erstellungsdatum, 'dd.MM.yyyy - HH:mm')}"/>
                    <td th:text="${#dates.format(umfrage.startdatum, 'dd.MM.yyyy')}"/>
                    <td th:text="${#dates.format(umfrage.endedatum, 'dd.MM.yyyy')}"/>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>