<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Umfrage entfernt</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/octicons/4.3.0/build/font/octicons.css"/>
</head>
<body>
<div id="nav"></div>
<script>
    $('#nav').load("nav.html");
</script>
<div class="container">
    <div class="jumbotron">
        <h1><p>Umfrage entfernt</p></h1>
        <h4>Die folgende Umfrage konnte erfolgreich entfernt werden:
            <p><br/><b th:text="${titel} "/></p>
        </h4>
    </div>
</div>
</body>
</html>