<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/octicons/4.3.0/build/font/octicons.css"/>
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        var d = /*[[${stats}]]*/;
        var t = /*[[${frage}]]*/;
    </script>
    <script type="text/javascript" src="js/statistic.js"></script>
</head>
<body>
<div id="nav"></div>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b th:text="${titel}"/>
        </div>
        <div class="card-block">
            <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
        </div>
        <div class="card-footer text-muted">
            Teilnahmeranzahl: <a th:text="${gesamtanzahl}"/>
        </div>
    </div>
</div>
</body>
</html>