<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Umfragebearbeitung</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css"/>
    <script src="webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/octicons/4.3.0/build/font/octicons.css"/>
    <script type="text/javascript" th:inline="javascript">
        var edit = /*[[${edit}]]*/  ;
        var exists = /*[[${exists}]]*/  ;
    </script>
    <script type="text/javascript" src="js/umfrageBearbeitung.js"></script>
</head>
<body>
<div id="nav"></div>

<div class="container">
    <form id="umfrageForm" class="form-horizontal" th:action="@{/speichereErstellerUmfrage}" th:object="${ersteller}" method="post">
        <input type="hidden" th:value="${edit}" name="edit"/>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Umfrageinformationen
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Titel</label>
                            <div class="col-sm-8">
                                <input class="form-control" type="text" th:field="*{umfragen[0].titel}" placeholder="Ihr Umfragetitel" required="true"/>
                                <input type="hidden" th:field="*{umfragen[0].umfrageID}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Startdatum</label>
                            <div class="col-sm-5">
                                <input id="startdatum" onchange="minDate(this.value)" class="min-today form-control" th:field="*{umfragen[0].startdatum}" type="date" required="true"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">Endedatum</label>
                            <div class="col-sm-5">
                                <input id="endedatum" class="min-today form-control" th:field="*{umfragen[0].endedatum}" type="date" required="true"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  id="erstellerInfo" class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Erstellerinformation
                    </div>
                    <div class="card-block">
                        <div class="form-group row">
                            <label class="col-5 col-form-label">Name</label>
                            <div class="col-sm-5">
                                <input id="erstellerName" class="form-control" type="text" th:field="*{name}" placeholder="Name eingeben"
                                       required="true"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-5 col-form-label">Ersteller Mailadresse</label>
                            <div class="col-sm-5">
                                <input id="erstellerMail" type="email" class="form-control" th:field="*{email}" placeholder="Mustermann@max.de"
                                       required="true"/>
                                <input type="hidden" th:field="*{erstellerID}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Frageinformationen
            </div>
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Frage</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{umfragen[0].fragen[0].fragetext}" placeholder="Fragesatz" required="true"/>
                        <input type="hidden" th:field="*{umfragen[0].fragen[0].frageID}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label" >Erläuterung</label>
                    <div class="col-sm-10">
                        <textarea rows="4" class="form-control" th:field="*{umfragen[0].fragen[0].erlaeuterung}" placeholder="Nähere Erläuterung der Frage" required="true"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Es können maximal vier Antwortmöglichkeiten gegeben werden.
            </div>
            <div class="card-block">
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Antwort A:</label>
                    <div class="col-sm-10">
                        <input required="true" type="text" class="form-control" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[0].antworttext}" placeholder="Hier können Sie eine mögliche Antwort eintragen."/>
                        <input type="hidden" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[0].antwortID}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Antwort B:</label>
                    <div class="col-sm-10">
                        <input required="true" type="text" class="form-control" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[1].antworttext}" placeholder="Hier können Sie eine mögliche Antwort eintragen."/>
                        <input type="hidden" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[1].antwortID}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Antwort C:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[2].antworttext}" placeholder="Hier können Sie eine mögliche Antwort eintragen."/>
                        <input type="hidden" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[2].antwortID}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 control-label">Antwort D:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[3].antworttext}" placeholder="Hier können Sie eine mögliche Antwort eintragen."/>
                        <input type="hidden" th:field="*{umfragen[0].fragen[0].antwortmoeglichkeiten[3].antwortID}"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Optionen
            </div>
            <div class="card-block text-center">
                <div class="container">
                    <div class="form-group row">
                        <button class="btn btn-outline-success" style="cursor: pointer" type="submit">Umfrage abspeichern &nbsp;<i class="octicon octicon-repo-push"/></button>&nbsp;
                        <button class="btn btn-outline-danger" style="cursor: pointer" type="reset">Reset Formular &nbsp;<i class="octicon octicon-sync"/></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>